# Базовый URL для запросов на backend-приложение
PUBLIC_API_BASE_URL = "http://localhost:8000/api"

# Учётные данные гостевого аккаунта.
PUBLIC_GUEST_USER_LOGIN = "guest"
PUBLIC_GUEST_USER_PASSWORD = "P@ssw0rd"
